<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{:Url('/admin/roles/access')}" method="post">
    <input type="checkbox" name="access_ids[1]" value="1" checked="checked"/>checkbox复选1
    <input type="checkbox" name="access_ids[2]" value="2"/>checkbox复选2
    <input type="checkbox" name="access_ids[3]" value="3" />checkbox复选3
    <input type="checkbox" name="access_ids[4]" value="4" />checkbox复选3
    <input type="checkbox" name="access_ids[5]" value="5" />checkbox复选3
    <input type="submit" value="submit"/>
</form>
</body>
</html>